src/SerializationXMLJSON/task3/test1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="adress" type="adressType"/>
    <xs:complexType name="cityType" mixed="true">
        <xs:sequence>
            <xs:element name="street">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Podol"/>
                        <xs:enumeration value="Kalynova"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="apartaments">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="14/6"/>
                        <xs:enumeration value="20"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" name="size" use="optional"/>
    </xs:complexType>
    <xs:complexType name="adressType">
        <xs:sequence>
            <xs:element type="cityType" name="city" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>